@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400;500;600;700;800&display=swap');
@import '@splidejs/react-splide/css';
:root{
  --orange: #FD5545;
  --yellow: #FBB239;
  /* --gray: #F3F3F3; */
  --gray: #F3F3F3;
  --font: 'Syne', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: var(--font);
}
.orange{
  color:var(--orange);
}
