.cart{
    width:80%;
    margin: 0 auto;
    padding:40px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width:400px;
}
.cart-left-container{
    width:60%;
    min-width:400px;
}
.cart-left-container--true{
    min-height:625px;
}
.cart-left-container--true > h2{
    margin:5px 0px;
}
.cart-left-container--false > h2{
    margin:5px 0px;
}
.cart-left-container-header > h2{
    font-size: 1.6rem;
    margin-bottom:10px;
}
.cart-left-container--true > h2 > span{
    font-family: 'Roboto', sans-serif;
}
.cart-item-list-container--false{
    text-align: center;
    min-height:560px;
}
.cart-item-list-container--false > p{
    padding-top:10px;
}
.cart-right-container{
    width:30%;
    min-width:400px;
    padding-left:10px;
}
.cart-right-container-header{
    margin:5px 0px 0px 0px;
}
.cart-right-subtotal-row,
 .cart-right-shipping-handling-row, 
 .cart-right-tax-row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:8px 0px;
}
.cart-right-tax-row{
    padding-bottom:20px;
}
.cart-right-total-row{
    display:flex;
    justify-content: space-between;
    padding:15px 0px;
    border-top:1px solid rgb(235, 235, 235);;
    border-bottom:1px solid rgb(235, 235, 235);;
}
.cart-right-subtotal-price,
.cart-right-shipping-handling-price,
.cart-right-tax-price,
.cart-right-total-price{
    font-size: 0.925rem;
    font-family: 'Roboto', sans-serif;
}
.cart-right-checkout-btn-container{
    display:flex;
    justify-content: center;
    padding:30px 0px;
}
.cart-right-checkout-btn-container > button{
    color:white;
    background-color: rgb(15, 15, 15);
    width:175px;
    padding:12px;
    border-radius:8px;
    border:none;
    font-size:1rem;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .cart{
        width:100%;
    }
    .cart-right-container{
        padding-left:0px;
        margin-top:15px;
    }
    .cart-item-list-container--false{
        text-align: center;
        min-height:250px;
    }
    .cart-left-container--true{
        min-height:300px;
    }
}