.cart-item{
    border-bottom:1px solid rgb(246, 246, 246);
    margin:5px 0px;
    padding:20px 10px;
}
/* .cart-item-container{
    border:1px solid red;
} */
.cart-item-remove-btn-container{
    display:flex;
    justify-content: flex-end;
    margin-bottom:8px;
    width:98%;
}
.remove-btn{
    cursor: pointer;
    font-size:22px !important;
}
.cart-item-column-container{
    display:flex;
    width:95%;
}
.cart-item-column-left{
    width:20%;
    display:flex;
    align-items: center;
}
.cart-item-column-left > .cart-item-image-container{
    width:95%;
    padding:5px;
    background-color: rgb(246, 246, 246);
    display:flex;
    align-items: center;
}
.cart-item-image-container > img {
    width:100%;
}
.cart-item-column-right{
    width:80%;
    padding-left:5px;
}
.cart-item-name-price-row{
    display:flex;
    justify-content: space-between;
    width:95%;
}
.cart-item-name{
    font-size:1.0rem;
}
.cart-item-price{
    font-family: 'Roboto', sans-serif;
    font-size:0.95rem;
}
.cart-item-sku{
    font-family: 'Roboto', sans-serif;
    margin:5px 0px;
    font-size:0.90rem;
}
.cart-item-sku--span{
    font-size:1rem;
}
.cart-item-style{
    margin:5px 0px;
    /* font-size:0.95rem; */
}
.cart-item-style--span{
    font-size:1rem;
}
.cart-item-size-quantity-row{
    display:flex;
    margin:5px 0px;
    align-items: center;
}
.cart-item-shipping{
    color:black;
}
.cart-item-sku--span,
.cart-item-style--span,
.cart-item-size,
.cart-item-quantity,
.cart-item-shipping--span{
    color:rgb(192, 192, 192);
}
.cart-item-size--span > select{
    border:none;
    font-size:1rem;
}
.cart-item-quantity--span > select{
    border:none;
    font-size:1.05rem;
}
.cart-item-quantity{
    margin-left:5px;
}

@media screen and (max-width:768px){
    .cart-item{
        padding:5px 0px 15px 0px;
    }
    .cart-item-remove-btn-container{
        width:100%;
    }
    .remove-btn{
        font-size:18px !important;
    }
    .cart-item-name-price-row{
        margin-bottom:-2px;
    }
    .cart-item-shipping{
        display:none;
    }
    .cart-item-price,
    .cart-item-name,
    .cart-item-sku--span,
    .cart-item-style,
    .cart-item-style--span,
    .cart-item-size-quantity-row{
        margin:2px 0px;
        font-size:0.90rem !important;
    }
    .cart-item-sku{
        font-size:0.80rem !important;
    }
    
}