header{
    position:sticky;
    top:0;
    background-color: white;
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    z-index:10000000000000;
}
.hide{
    top:-6rem;
}
.header-container{
    /* border:1px solid red; */
    width:90%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
}
.brand-logo-container > a > img{
    width:55px;
}
.header-navbar > a{
    margin: 0px 30px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 0.95rem;
    border-top:2px solid transparent;
    padding-top:19px !important;
}
/* .header-navbar >a:hover{
    color:var(--yellow);
    border-top:2px solid var(--yellow);
} */
.active-nav{
    color:var(--yellow)!important;
    border-top:2px solid var(--yellow) !important;
}
.header-icon-container{
    display:flex;
    align-items: center;
}
.icon-container{
    position:relative;
    width:35px;
    height:35px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.icon-container:hover{
    background-color: var(--gray);
}
.icon-container > a{
    color:black;
}
.menu-bar{
    display:none;
    padding-top:5px;
    padding-left:5px;
}
.shopping-cart-icon--active > a{
    color:var(--yellow) !important;
}
.shopping-cart-notification{
    display:none;
    position:absolute;
    top:4px;
    left:24px;
    width:3px;
    height:3px;
    padding:2.5px;
    border-radius:50%;
    background-color: var(--orange);
}
.shopping-cart-notification--active{
    display:block;
    position:absolute;
    top:3.5px;
    left:24px;
    width:3px;
    height:3px;
    padding:2.5px;
    border-radius:50%;
    background-color: var(--orange);
}
.search-container{
    width:90%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.searchbar-container{
    width:45%;
}
.searchbar{
    width:100%;
    border-radius:16px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:3px 0px 1.5px 0px;
    background-color: var(--gray);
}
.searchbar-search-icon-container,
.searchbar-clear-button-container{
    padding-top:3px;
    width:5%;
}
.searchbar-search-icon-container{
    text-align: center;
}
.clear-button{
    cursor: pointer;
}
.search-input{
    width:90%;
    outline: none;
    border:none;
    background-color: transparent;
    font-size:1rem;
    padding-bottom:1px;
    flex:1;
}
.searchbar-cancel-text{
    cursor: pointer;
    font-weight:bold;
    font-size:0.85rem;
}
.account-dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    min-width:90px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu p {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown-menu p:hover {
    background-color: #f0f0f0;
  }
@media screen and (max-width:768px){
    .search-container{
        width:95%;
    }
    .searchbar-container{
        width:60%;
    }
    .search-input{
        width:75%;
    }
    .searchbar-search-icon-container{
        padding-top:5px;
        width:15%;
    }
    .searchbar-clear-button-container{
        width:12%;
    }
    .header-container{
        width:95%;
    }
    .header-navbar{
        display:none;
    }
    .user-icon{
        display:none;
    }
    .menu-bar{
        display:block;
    }
    .shopping-cart-notification--active{
        width:3px;
        height:3px;
        padding:2.25px;
        top:4.5px;
        left:24.5px;
    }
}