header{
    position:sticky;
    top:0;
    /* padding:0px 0px 10px 0px; */
    /* border:1px solid red; */
    background-color: white;
    z-index:10000000000000;
}
.hide{
    display:none;
}
.header-container{
    /* border:1px solid red; */
    width:90%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
}
.brand-logo-container > a > img{
    width:55px;
}
.header-navbar > a{
    margin: 0px 30px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 0.95rem;
    border-top:2px solid transparent;
    padding-top:19px !important;
}
/* .header-navbar >a:hover{
    color:var(--yellow);
    border-top:2px solid var(--yellow);
} */
.active-nav{
    color:var(--yellow)!important;
    border-top:2px solid var(--yellow) !important;
}
.header-icon-container{
    display:flex;
    align-items: center;
}
.icon-container{
    position:relative;
    width:35px;
    height:35px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.icon-container:hover{
    background-color: var(--gray);
}
.icon-container > a{
    color:black;
}
.menu-bar{
    display:none;
    padding-top:5px;
    padding-left:5px;
}
.shopping-cart-icon--active > a{
    color:var(--yellow) !important;
}
.shopping-cart-notification{
    display:none;
    position:absolute;
    top:4px;
    left:24px;
    width:3px;
    height:3px;
    padding:2.5px;
    border-radius:50%;
    background-color: var(--orange);
}
.shopping-cart-notification--active{
    display:block;
    position:absolute;
    top:3.5px;
    left:24px;
    width:3px;
    height:3px;
    padding:2.5px;
    border-radius:50%;
    background-color: var(--orange);
}

@media screen and (max-width:768px){
    .header-container{
        width:95%;
    }
    .header-navbar{
        display:none;
    }
    .user-icon{
        display:none;
    }
    .menu-bar{
        display:block;
    }
    .shopping-cart-notification--active{
        width:3px;
        height:3px;
        padding:2.25px;
        top:4.5px;
        left:24.5px;
    }
}