.home{
    font-family: var(--font);
}
.hero-section-footer{
    width:80%;
    margin: 0 auto;
    padding:40px 0px;
}
.hero-section-footer-container{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.number{
    font-size:2.5rem;
    margin:0px 15px;
}
.hero-section-footer-container > li{
    font-size: 0.85;
    font-weight: bold;
    color: #929292;
    list-style-type: none;
    margin: 0 auto;
}
.hero-section-footer-container > li:nth-of-type(2){
    border-right:2px solid var(--yellow);
    border-left:2px solid var(--yellow);
    padding:0px 120px;
}
.section-title{
    max-width:600px;
    font-size:2.5rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom:40px;
    font-weight:bold;
}
.offer-section{
    background-color: var(--gray);
    padding:40px 0px;
}
.offer-container{
    width:85%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.review-section{
    padding:40px 0px;
    background-size:40px 40px;
    background-image: repeating-linear-gradient(45deg, #f7f7f7 0, #f7f7f7 4px, #fcfcfc 0, #fcfcfc 50%);
}
.review-container{
    width: 80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pagination-container{
    width:150px;
    margin:20px auto;
    display:flex;
    justify-content: space-around;
    padding-top:20px;
}
.arrow-container{
    width:30px;
    cursor:pointer;
}
.arrow{
    width:100%;
}
.right{
    transform:rotateY(180deg);
}
.arrow.disabled {
    opacity: 0.5;
    cursor: default;
}
.newsletter-section{
    background-image: url(../images/background.jpg);
    background-size: 100% 100%;
    min-height:335px;
}
.newsletter-container{
    min-height:335px;
    background-color: rgba(0, 0, 0, 0.37);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletter-container > h2 {
    font-size: 2.5rem;
    text-align: center;
    color:white;
}
.newsletter-text{
    max-width:600px;
    text-align: center;
    margin: 0 auto;
    padding:10px 0px 20px 0px;
    line-height:1.75;
    color:white;
}
.newsletter-input-container{
    max-width:475px;
    width:80%;
    min-width:390px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:8px;
    padding:3px 0px 3px 2px;
}
.newsletter-input-container > input{
    width:90%;
    font-family: var(--font);
    border:none;
    outline: none;
    margin-left:2px;
    font-size:0.925rem;
    padding-left:4px;
}
.submit-button{
    width:31px;
    height:31px;
    margin:1px 0px 1px 6px;
    border:none;
    border-radius:4px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    cursor: pointer;
}
.submit-button > img{
    width:60%;
}
@media screen and (max-width:768px){
    .hero-section-footer-container > li:nth-of-type(2){
        padding:0px;
        border:none;
    }
    .offer-container{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width:95%;
    }
    .submit-button{
        margin-right:4px;
    }
}