.offer-card{
    min-width:210px;
    margin:10px auto;
    padding:8px 0px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:8px;
}
.offer-card-header{
    padding:10px 0px;
}
.offer-card-image-container{
    width:100px;
    height:100px;
    border-radius:50%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}
.offer-card-image-container > img{
    width:65%;
    overflow: hidden;
}
.offer-card-name{
    text-align: center;
    font-size:1rem;
    font-weight:bold;
    color:var(--yellow);
    margin-bottom:12px;
}
.offer-card-text{
    text-align: center;
    font-weight:bold;
    font-size:0.80rem;
    width:180px;
    line-height:2;
    color:gray;
}
.offer-card-logo-container{
    width:32px;
    margin: 0 auto;
}
.offer-card-logo-container > img {
    width:100%;
}