.product-card{
    max-width:315px;
}
.product-card > a{
    width:100%;
    text-decoration: none;
}
.product-card-header{
    display:flex;
    justify-content: flex-end;
    padding:15px;
    color:black;
}
.product-card-image-container{
    width:100%;
    margin: 0 auto;
}
.product-card-image{
    width:100%;
    transition: opacity 0.3s ease-in-out;
}
.product-card-text-container{
    background-color: white;
    color:black;
    padding:10px 0px;
}
.product-card-text-container > p{
    text-decoration: none;
    font-size: 14px;
}
.product-style{
    color:gray;
}
.product-price{
    font-size: 15px !important;
}
.favorite-button:hover{
    transform: scale(1.25);
}