.review-card{
    max-width:350px;
    margin: 10px;
    padding:24px;
    border:1px solid #DDDDDD;
    border-radius:8px;
    background-color:white;
}
.review-card-header{
    display:flex;
    align-items: center;
    margin-bottom:10px;
}
.review-card-image-container{
    width:48px;
    height:48px;
    border-radius:50%;
}
.review-card-image{
    width:48px;
    height:48px;
    border-radius:inherit;
}
.review-card-information-container{
    margin-left:8px;
}
.review-card-name{
    color:var(--yellow);
    font-weight: bold;
    font-size:0.80rem;
}
.review-card-occupation{
    font-weight:bold;
    font-size:0.65rem;
    color:gray;
}
.review-card-text{
    line-height:2;
    color:gray;
    font-weight:bold;
    font-size:0.80rem;
}