.search-result-page-container{
    width:80%;
    margin: 0 auto;
    padding:20px 0px;
}
.search-text{
    font-size: 2rem;
}
.search-result-length{
    font-family: 'Roboto', sans-serif;
    font-size:1.5rem;
}
.results-grid{
    min-height: 575px;
}
.product-grid{
    padding:15px 0px;
    display:grid;
    width:100%;
    gap:20px 5px;
}
@media screen and (max-width:768px){
    .product-grid{
        grid-template-columns: 1fr 1fr; 
    }
    .search-result-page-container{
        width:95%;
    }
}